{% extends "components/DashboardLayout.html" %}
{% load static %}
{% block title %}Manage Users{% endblock %}
{% block content %}

<div class="row">
    <div class="overflow-x-auto">
        <table class="table mt-4 bg-white border rounded overflow-hidden" style="border-collapse: separate; border-spacing: 0;">
            <thead class="bg-light">
                <tr class="table-active">
                    <th class="px-4 py-2 border-bottom">Avatar</th>
                    <th class="px-4 py-2 border-bottom">Member</th>
                    <th class="px-4 py-2 border-bottom">Status</th>
                    <th class="px-4 py-2 border-bottom">Membership</th>
                    <th class="px-4 py-2 border-bottom">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in allUsers %}
                <tr class="border-bottom">
                    <td class="px-4 py-2"><img src="{% static 'images/Avatar1.jpg' %}" alt="Avatar" class="w-8 h-8 rounded-full"></td>
                    <td class="px-4 py-2"> 
                    <a href="#">
                        {{ user.firstname }} {{ user.lastname }}
                    </a>
                </td>
                    <td class="px-4 py-2"><span class="badge bg-success-subtle text-success rounded-pill">Active</span></td>
                    <td class="px-4 py-2">{{ user.membership }}</td>
                
                    <td>
                        <button type="button" data-user-id="{{ user.id }}" data-status="False" class="btn btn-outline-danger ban-button"><i class="fa fa-ban"></i></button>
                        <button type="button" data-user-id="{{ user.id }}" data-status="True" class="btn btn-outline-success check-button"><i class="fa fa-check"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>

<script>
    var changeApprovalStateURL = "{% url 'change_approval_state' %}";
    document.querySelectorAll('.ban-button').forEach(button => {
    button.addEventListener('click', function () {
        let userId = this.getAttribute('data-user-id');
        let status = this.getAttribute('data-status');
        changeMemberState(userId,status,changeApprovalStateURL);
        });
    });

    document.querySelectorAll('.check-button').forEach(button => {
        button.addEventListener('click', function () {
            let userId = this.getAttribute('data-user-id');
            let status = this.getAttribute('data-status');
            changeMemberState(userId,status,changeApprovalStateURL);
        });
    });

    // A necessary evil. Getting the CSRFToken 😖
    function getCSRFToken() {
    return document.cookie
        .split("; ")
        .find(row => row.startsWith("csrftoken="))
        ?.split("=")[1];
}

</script>
{% endblock %}